*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#ffffff;
    overflow-x:hidden;
    font-family:"Segoe UI",sans-serif;
}

/* SPLASH */

#splash-screen{
    position:fixed;
    inset:0;
    background:#fff;
    z-index:9999;
    display:flex;
    justify-content:center;
    align-items:center;
    transition:opacity 1.2s ease;
}

#splash-screen.hide{
    opacity:0;
    pointer-events:none;
}

.portada-img{
    width:100%;
    height:100%;
    object-fit:contain;
    background:#fff;
}

.open-btn{

    position:absolute;

    bottom:8%;
    left:50%;

    transform:translateX(-50%);

    border:none;
    cursor:pointer;

    padding:16px 32px;

    border-radius:999px;

    color:#fff;

    font-size:1rem;
    font-weight:600;

    background:linear-gradient(
        135deg,
        #033b2e,
        #0b5f4f
    );

    box-shadow:
    0 0 20px rgba(3,59,46,.3),
    0 10px 35px rgba(3,59,46,.25);

    animation:glow 2.5s infinite;
}

@keyframes glow{

    0%{
        transform:translateX(-50%) scale(1);
    }

    50%{
        transform:translateX(-50%) scale(1.05);
    }

    100%{
        transform:translateX(-50%) scale(1);
    }

}

/* CONTENIDO */

#invitation-content{
    display:none;
}

.section{
    width:100%;
}

.section img{
    display:block;
    width:100%;
    height:auto;
}

/* CONTADOR */

.countdown-section{

    background:#fff;

    padding:50px 20px;

    text-align:center;
}

.countdown-section h2{

    color:#033b2e;

    font-size:1.5rem;

    letter-spacing:2px;

    margin-bottom:30px;
}

#countdown{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:15px;

    max-width:500px;

    margin:auto;
}

.time-card{

    background:#fff;

    border-radius:24px;

    padding:22px 10px;

    box-shadow:
    0 10px 30px rgba(0,0,0,.08);
}

.time-card span{

    display:block;

    font-size:2.2rem;

    font-weight:800;

    color:#033b2e;
}

.time-card small{

    color:#666;
}

#eventMessage{

    margin-top:25px;

    color:#033b2e;

    font-size:1.15rem;

    font-weight:700;
}

/* ANIMACIONES */

.fade-section{

    opacity:0;

    transform:translateY(40px);

    transition:
    opacity .9s ease,
    transform .9s ease;
}

.fade-section.visible{

    opacity:1;

    transform:translateY(0);
}

/* IMÁGENES CON BOTONES */

.image-container{
    position:relative;
}

.overlay-link{
    position:absolute;
    display:block;
    background:transparent;
    cursor:pointer;
}

/* BOTÓN WAZE */

.location-link{

    left:14%;
    width:72%;

    top:75.2%;
    height:4.7%;
}

/* BOTÓN CONFIRMACIÓN */

.confirm-link{

    left:16%;
    width:78%;

    top:76.5%;
    height:5.2%;
}

/* DESKTOP */

@media(min-width:768px){

    .section img,
    .image-container img{

        max-width:900px;
        margin:auto;
    }

    #countdown{
        grid-template-columns:repeat(4,1fr);
    }

    .time-card span{
        font-size:2.5rem;
    }
}
